<script>
  function get_status() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("txtHint").innerHTML = this.responseText;
        }
      };
      xmlhttp.open("GET", "ajax.php?j_i=" + str, true);
      xmlhttp.send();
  }
  function get_search() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("txtHint").innerHTML = this.responseText;
        }
      };
      xmlhttp.open("GET", "ajax.php?j_s=" + str, true);
      xmlhttp.send();
  }
  function ForgetPwd() {
    document.getElementById("loginbutton").value = "Update";
    document.getElementById("confirm_password").hidden = false;
    document.getElementById("confirm_password").required = true;
    document.getElementById("ForgetPwdanc").hidden = true;
    
  }

  function apply_job(str) {
    //alert("Applied_Already");
    if(btn_value==="Applied_Already"){
      alert("Applied_Already");
      document.getElementById("Warning").style.visibility = "visible";
    }
    else{
      if (window.confirm('Confirm Apply'))
      {
      var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            if(this.responseText=="1"){
          document.getElementById("applyBtn").innerHTML = "Applied";
          document.getElementById("Success").style.visibility = "visible";}
          if(this.responseText=="2"){
            window.location = "sign-in.php";
          }
            if(this.responseText=="0"){
            document.getElementById("applyBtn").innerHTML = "error";
          document.getElementById("Danger").style.visibility = "visible";}
          }
        };
        xmlhttp.open("GET", "ajax.php?a_j=" + str, true);
        xmlhttp.send();
      }
    }
  }
  document.querySelector('#upload-button').addEventListener('click', function() {
  // user has not chosen any file
  if(document.querySelector('#file-input').files.length == 0) {
    alert('Error : No file selected');
    return;
  }

  // first file that was chosen
  let file = document.querySelector('#file-input').files[0];

  // allowed types
  let allowed_mime_types = [ 'application/pdf' ];
  
  // allowed max size in MB
  let allowed_size_mb = 4;
  
  // validate file type
  if(allowed_mime_types.indexOf(file.type) == -1) {
    alert('Error : Incorrect file type');
    return;
  }

  // validate file size
  if(file.size > allowed_size_mb*1024*1024) {
    alert('Error : Exceeded size');
    return;
  }

  // validation is successful
  alert('You have chosen the file ' + file.name);
  upload();
  // upload file now
});
function upload(argument) {
  // body...

  let data = new FormData();

// file selected by the user
// in case of multiple files append each of them
data.append('file', document.querySelector('#file-input').files[0]);

let request = new XMLHttpRequest();
request.open('POST', 'ajax.php'); 

// upload progress event
request.upload.addEventListener('progress', function(e) {
  let percent_complete = (e.loaded / e.total)*100;
  
  // percentage of upload completed
  console.log(percent_complete);
});

// AJAX request finished event
request.addEventListener('load', function(e) {
  // HTTP status message
  console.log(request.status);

  // request.response will hold the response from the server
  console.log(request.response);
  $('#file_responce').text(request.response);
});

// send POST request to server side script
request.send(data);
//window.location.reload();
}
</script>
