<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <?php require_once 'view/head.html';?>
      
   </head>
   <body>
      <?php require_once 'view/header.html';?>
      <!-- section one start -->
      <section class="position-relative">
         <div class="container-fluid mp-sec-bg">
            <div class="row">
               <div class="col-12 p-0">
                  <div class="section-two-bg">
                     <div class="text-group py-5 text-center" style="background-position:center; background-size: cover;background-repeat:no-repeat;background-image:url('images/inspect_back.jfif')">
                        <!img src="images/backside.jpg" style="margin:auto; width:200px;display:block" />
                        <div class="h1 text-white">
                           Online Inspection Managment System<span class="mp-text-secondary">.</span>
                        </div>
                        <div class="text-para mx-5 px-5 py-3">
                           <p class="stay-secure-para text-white">
                              Inspection Managment System for registering inspection and manageing to generate Reports Automatically
                           </p>
                        </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- section one end -->
      <section class="position-relative py-2 my-2">
         <div class="text-para mx-5 px-5 py-3">
            <div class="et_pb_text_inner"><h3 class="text-uppercase font-weight-light">Having an inspection management service that can streamline your organization’s activities all within a single solution will not only reduce stress during your regulatory inspections but can help ensure that you pass your inspections by helping you put your best foot forward . </h3></div>
         </div>
      <?php require_once 'view/footer.html';?>   
      </section>
   </body>
</html>
